@import '../../util/css-variables.scss';

$user-action-shadow-color: #ffdc37bb;
$user-action-shadow-length: 0px;
$user-action-blur-radius: 20px;
$user-action-spread-radius: 9px;
$finger-radius: 25px;
$finger-action-shadow-color: #ffff79bb;
$finger-action-shadow-length: 0px;
$finger-action-blur-radius: 10px;
$finger-action-spread-radius: 5px;

.tutorial-modal {
  z-index: 1150;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #55555599;
  transition: opacity 0.2s;
  opacity: 0;
  outline: none;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &.tap {
    cursor: pointer;

    &:active {
      cursor: pointer;
    }
  }

  &.swipe-left {
    .description {
      position: fixed;
      margin: 0;
      transform: translateY(-20%);
      width: fit-content;
      max-width: 55vw;

      @media screen and (min-width: 500px) {
        transform: translateY(-50%);
      }

      &::after {
        content: '';
        position: absolute;
        right: -20px;
        left: 99.5%;
        top: 20%;

        @media screen and (min-width: 500px) {
          top: 50%;
          border: 10px solid transparent;
          border-left: 10px solid #333333;
        }

        border: 8px solid transparent;
        border-left: 8px solid #333333;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    &.is-pc {
      & .user-action {
        display: none;
      }
    }
  }

  & .user-action {
    // margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $finger-radius * 1.8;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $user-action-shadow-length 0 $user-action-blur-radius
      $user-action-spread-radius $user-action-shadow-color;
    background-color: $user-action-shadow-color;

    & .finger-action {
      position: absolute;
      width: $finger-radius * 1.4;
      height: $finger-radius * 1.4;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;

      box-shadow: $finger-action-shadow-length 0 $finger-action-blur-radius
        $finger-action-spread-radius $finger-action-shadow-color;
      background-color: $finger-action-shadow-color;
    }

    &.tap {
      width: $finger-radius * 2;
      height: $finger-radius * 2;
      border-radius: 50%;
      & .finger-action {
        display: none;
        // animation: tap 4s infinite ease-in-out;
      }
    }

    &.swipe-left-right {
      width: 200px;
      height: $finger-radius * 2;
      border-radius: $finger-radius;
      & .finger-action {
        animation: swipe-left-right 8s infinite ease-in-out;
      }
    }

    &.long-press {
      box-shadow: none;
      background-color: #eee;
      border-radius: 5px;
      max-width: 95vw;
      .long-press-humash-text {
        font-family: $tora-font-family;
        padding-top: 0.17em;

        @media screen and (max-width: 450px) {
          font-size: 10vw;
        }

        .word {
          padding-left: 0.3em;
          &:first-child {
            padding-right: 0.3em;
          }
        }
      }
      & .finger-action {
        display: none;
      }
    }

    &.swipe-left {
      width: 200px;
      height: $finger-radius * 2;
      border-radius: $finger-radius;
      transform: translateX(0);

      &.dir-rtl {
        right: -135px;
        & .finger-action {
          animation: swipe-left 3.5s infinite reverse ease-in-out;
        }
      }
      &.dir-ltr {
        left: -135px;
        & .finger-action {
          animation: swipe-left 3.5s infinite ease-in-out;
        }
      }
    }
    @keyframes swipe-left-right {
      0% {
        opacity: 0;
        left: 10%;
      }
      4% {
        opacity: 1;
      }
      8% {
        opacity: 1;
      }
      12% {
        opacity: 0;
        left: 90%;
      }
      50% {
        opacity: 0;
        left: 90%;
      }
      54% {
        opacity: 1;
      }
      58% {
        opacity: 1;
      }
      62% {
        opacity: 0;
        left: 10%;
      }
      100% {
        opacity: 0;
        left: 10%;
      }
    }
    @keyframes swipe-left {
      0% {
        opacity: 0;
        left: 10%;
      }
      8% {
        opacity: 1;
      }
      16% {
        opacity: 1;
      }
      25% {
        opacity: 0;
        left: 90%;
      }
      100% {
        opacity: 0;
        left: 70%;
      }
    }
  }

  &.fade-in {
    animation: fadeIn 0.5s forwards;
  }

  &.first-fade-in {
    animation: fadeIn 0.5s forwards;
    animation-delay: 1.3s;
  }

  &.fade-out {
    animation: fadeOut 0.5s forwards;
  }

  .description {
    margin: 3rem auto;
    max-width: 60%;
    width: fit-content;
    border-radius: 0.7rem;
    background-color: #333333;
    color: #eee;
    padding: 1.2rem 2rem;
    font-size: 1.3rem;
    text-align: center;

    @media screen and (max-width: 450px) {
      padding: 0.8rem 1.5rem;
    }

    @media screen and (max-width: 400px) {
      padding: 0.8rem 1rem;
    }
  }

  .tutorial-image {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2em;
    max-width: 200px;

    &.swipe-left {
      right: -90px;
      transform: translateX(0);
    }
  }

  .skip-tutorial-btn {
    position: absolute;
    bottom: 10px;
    background-color: #ccc;

    &.dir-rtl {
      left: 10px;
    }
    &.dir-ltr {
      right: 10px;
    }
  }
}
