$dark-style-background: #000;
$dark-style-color: #ccc;

$regular-style-background: #fff;
$regular-style-color: #000;

$klaf-style-background: #fffbc1;
$klaf-style-color: #000;

$button-width: 118px;
$button-margin: 6px;
$button-border-width: 3px;

$jerusalemi-color: #a4390d;
$jerusalemi-border-color: #a4390d88;
$ashkenazi-color: #6f4200;
$ashkenazi-border-color: #6f420088;
$marokai-color: #c86d00;
$marokai-border-color: #c86d0088;

// $tora-font-family: KeterYGMedium;
$tora-font-family: TaameyFrankCLMMedium;

$dark-blue-gradient: #5589f8;
$light-blue-gradient: #3bedd8;
$dark-orange-gradient: #f15a24;
$light-orange-gradient: #f7931e;
$dark-darker-blue-gradient: #052c7a;
$light-darker-blue-gradient: #0e9a89;

$app-bar-height: 2.7em;
