@import '../../util/css-variables.scss';

.tikun-reading-page-container {
  .tora-page-number {
    text-align: center;
    padding-right: 1vw;
    font-size: 2.3vw;
    color: #666;
  }
  &.style-dark .tora-page-header {
    background-color: $dark-style-background;
    color: $dark-style-color;

    .settings-icon {
      color: #0056d7 !important;
      background-color: #599bff66 !important;
      &.tutorial-model-mode {
        background-color: #cbd1fe !important;
      }
    }
  }
  &.style-tora-paper .tora-page-header {
    background-color: $klaf-style-background;
    color: $klaf-style-color;
    .settings-icon {
      color: #f77500 !important;
      background-color: #ffe488 !important;
      &.tutorial-model-mode {
        background-color: #cbd1fe !important;
      }
    }
  }
  &.style-regular .tora-page-header {
    background-color: $regular-style-background;
    color: $regular-style-color;
    .settings-icon {
      color: #0056d7 !important;
      background-color: #599bff55 !important;
      &.tutorial-model-mode {
        background-color: #cbd1fe !important;
      }
    }
  }

  .container {
    padding-top: 1em;
    padding-bottom: 0.6em;
    .settings-icon {
      &.tutorial-model-mode {
        transition: all 0.5s;
        transform: scale(1.1);
        z-index: 1300;
      }
    }

    .tora-page-header {
      position: relative;
      text-align: center;
      font-size: 2.5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .titles {
        display: flex;
        justify-content: space-between;
        width: 86%;
        padding: 0 7%;
        margin-left: 8vw;
        .right-title {
          order: 1;
        }
        &.lang-he {
          .right-title {
            order: 0;
          }
        }
        h1 {
          margin-top: 0;
        }
      }

      * {
        margin: 0;
        padding: 0;
      }
      .menu-button-container {
        width: 19vw;
        padding-right: 5px;
      }
    }
  }
}
