.instruction-dialog {
  ul {
    color: #444;
    line-height: 1.4;
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.5em;
      .sub-title {
        font-weight: bold;
        text-decoration: underline;
        // margin-bottom: 0.5em;
      }
    }
  }
}
