@import '../../util//css-variables.scss';

.swipeable-container {
  &.style-dark .tikun-side-nav {
    background-color: #333;
    * {
      color: #ccc !important;
    }
  }

  &.style-regular .tikun-side-nav {
    background-color: #eee;
  }

  .tikun-side-nav {
    background-color: #ffeba6;
    color: black;

    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    transition-timing-function: ease-out;

    & .hide {
      height: 0 !important;
    }

    & .header {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      position: relative;
      $logo-width: 75px;
      img {
        width: $logo-width;
      }

      .title {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        font-family: $tora-font-family;
        font-size: $logo-width / 6;
        width: $logo-width / 1.6;
        height: $logo-width / 2.4;
        * {
          color: #000 !important;
        }

        // .word-1 {
        //   position: absolute;
        //   right: 0;
        //   top: 0;
        // }
        // .word-2 {
        //   position: absolute;
        //   left: 0;
        //   bottom: 0;
        // }
      }
    }

    .divider {
      margin-bottom: 0.3em;
    }

    $btn-height: 2.3em;

    & .nav-button {
      justify-content: right;
      box-shadow: none;
      width: 100%;
      height: $btn-height;
      padding: 0.6em;
      border-radius: 0;
      // font-size: 1em;

      &.style-button {
        padding: 0 !important;
        display: inline-block;
        text-align: center;

        & .border-bottom {
          border-bottom: 1px solid;
          color: inherit;
          transform: scalex(0);
          transition: 0.2s;

          &.active {
            transform: scalex(0.8);
          }
        }
      }
    }

    & .palette-buttons-container {
      transition: 0.2s all;
      overflow: hidden;
      height: $btn-height - 0.6em;
      display: flex;
      justify-content: center;

      & .nav-button {
        box-sizing: border-box;
        font-weight: bold;
        padding: 0.1em !important;
        width: 25%;
        border-radius: 1em;
        font-size: 0.75em;
      }
    }

    &.shadow {
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
        0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    }
    .title {
      text-align: center;
      font-size: 2vw;
    }

    .aliyot-buttons {
      display: flex;
      justify-content: center;
      transition: 0.2s all;
      overflow: hidden;
      padding: 0;
      height: 2em;

      &.is-megillat-esther {
        flex-wrap: wrap;
        height: 3em;
      }

      & .aliya-button {
        background-color: transparent;
        border: none;
        font-size: 1em;
        font-weight: bold;
        width: 1.4em;
        height: 1.4em;
        text-align: center;
        margin: 0.1em;
        box-sizing: border-box;
        transition: 0.2s;
        outline: none;
        font-family: $global-font-family-he;

        &:hover {
          background-color: #fde46f99;
          cursor: pointer;
        }
      }
    }
  }
}
