.about-page {
  .content {
    max-width: 600px;
    padding: 0 2em;
    @media screen and(max-width:400px) {
      padding: 0 1em;
    }
    margin: 1em auto;
    line-height: 1.4;
    color: #333;
    word-spacing: 0.1em;
    h2 {
      margin-bottom: 0.2em;

      &#donate-title {
        // color: #e7b136;
        font-weight: normal;
        $shadow-color: #e7b136;
        $shadow-width: 1px;
        $shadow-width-opposite: -$shadow-width;
        text-shadow: $shadow-width 0 0 $shadow-color,
          $shadow-width-opposite 0 0 $shadow-color,
          0 $shadow-width 0 $shadow-color,
          0 $shadow-width-opposite 0 $shadow-color;
      }
    }
    ul {
      margin-top: 0.2em;
    }
    a {
      color: #555;
    }
    .description {
      font-size: 1.2em;
      text-align: justify;
    }

    .font-for-en {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
}
