@import '../../util/css-variables.scss';

.taam-in-word-menu {
  z-index: 100;
  margin: auto;
  font-size: 35px;

  @media screen and (max-width: 800px) {
    font-size: 27px;
  }

  @media screen and (max-width: 500px) {
    font-size: 20px;
  }

  .selected-word {
    font-family: $tora-font-family;
    background-color: #444;
    color: #fff;
    text-align: center;
    border-bottom: 2px solid #333;
    font-size: 1.2em;
    padding: 0.1em 0.2em 0;
    margin-bottom: -0.1em;
  }

  .taam-row {
    background-color: #dadada;
    color: #000;
    padding: 0.3em 0.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.15s;

    &.active {
      background-color: #cdcdcd;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #888;
    }

    .reading-type-title {
      &.jerusalemi {
        color: $jerusalemi-color;
      }
      &.ashkenazi {
        color: $ashkenazi-color;
      }
      &.marokai {
        color: $marokai-color;
      }
      height: fit-content;
      //   width: fit-content;
      margin-left: 10px;
      font-weight: bold;
      width: 2.8em;
      text-align: left;
    }
    .taam-title {
      font-family: $tora-font-family;
      line-height: 1;
      padding-top: 0.17em;
    }
  }
}
