@import '../../util//css-variables.scss';

.homepage {
  position: relative;
  background-color: unset !important;

  & > .page {
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: space-between;

    .logo-container {
      padding: 40px;
      margin: auto;
      background: radial-gradient(#ffffff 50%, #ffffff00);
      .logo {
        position: relative;
        width: 170px;
        margin: auto;
      }
    }

    &::after {
      content: '';
      background: bottom url('../../images/רקע\ תיקון\ קוראים-04.png');
      background-size: cover;
      // opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -10;
    }
  }
}
