$btn-size: 95px;
$last-btn-size: $btn-size * 1.2;
// $btns-margin: 0.7em;

.home-nav-page {
  & .home-nav-buttons-container {
    max-width: 400px;
    margin: 2em auto 0em auto;
    display: grid;
    grid-template-columns: 50% 50%;
    // grid-template-rows: ;

    .home-nav-button {
      display: flex;
      flex-direction: column;
      -ms-flex-direction: column;
      align-items: center;
      outline: none;
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 5px 8px;

      & .home-nav-btn-icon {
        width: $btn-size;
        height: $btn-size;
      }
      & .button-title {
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.5em;
        display: block;
        padding: 0.1em;
        color: #000;
      }

      &:last-child {
        grid-column: 1 / 3;

        .home-nav-btn-icon {
          $last-btn-size: $btn-size * 1.2;
          width: $last-btn-size;
          height: $last-btn-size;
        }
      }
    }
  }
}

body.ltr .home-nav-buttons-container .button-title {
  font-weight: normal !important;
}
